body {
    background-color: black; font: arial; font color:white;
    }
h1 {
    color:grey; font:verdana;
    }
.maindiv {
    background-color: white; 
    font color: black; 
    width: 400px; 
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    }
